<div class="container">
  <div class="row">
    <div class="col-6 mt-3">
      <h2>Archivos: {{index_files}}</h2>
    </div>
    <div class="col-6 mt-3">
      <select class="form-control" id="selectFile" name="selectFile" [(ngModel)]="actual_file" (change)="showFile()">
        <option [value]="fl.n" *ngFor="let fl of fls">{{fl.nombre}}</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-1">
      <h2>Entrada</h2>
    </div>
    <div class="col-12 mt-3">
      <!--CODEMIRROR-->
      <div class="row">
        <div class="col-12">
          <ngx-codemirror id="xcode" [(ngModel)]="xcode" [options]="{
      lineNumbers: true,
      theme: 'material',
      mode: 'xml',
      htmlMode: true
      }">
          </ngx-codemirror>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-12">
      <!--FUNCION ABRIR ARCHIVO-->
      <input type="file" id="file-input" (change)="openFile($event.target)">
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalVer">Ver</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAdded" (click)="addFile()">Agregar</button>
    </div>
    <div class="col-12 mt-3">
      <h3 id="name">Archivo</h3>
    </div>
    <div class="col-12">
      <div class="form-group">
        <textarea class="form-control" name="contenido" id="contenido" rows="10"></textarea>
      </div>
    </div>
  </div>
</div>

<!--MODAL-->
<div class="modal" tabindex="-1" id="ModalVer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Contenido del archivo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="form-control" name="contenido2" id="contenido2" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!--MODAL-->
<div class="modal" tabindex="-1" id="ModalAdded">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Resultado</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Archivo agregado con exito</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>